/* Container for products */
#productItems {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
    background: rgb(243, 239, 221);
}

/* Product Card */
.product-card {
   background: #fff;
    border-radius: 12px;
    padding: 5px;
    text-align: center;
    width: 200px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);

}

.product-card:hover {
    transform: translateY(-5px);
}

/* Product Image */
.product-card img {
    width: 50%;
    height: 200px;       /* controls size */
    object-fit: cover;   /* keeps aspect ratio */
    border-radius: 10px;
    margin: 5px;
}

/* Add to Cart Button */
.product-card button {
    margin-top: 10px;
    padding: 10px 15px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background: linear-gradient(45deg,#ff4d94,#ff85b3);
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

/* Hover Effect */
.product-card button:hover {
    background: linear-gradient(45deg,#e60073,#ff4d94);
    transform: scale(1.05);
}

/* Click Effect */
.product-card button:active {
    transform: scale(0.95);
}

/* Cart Popup */
.cart-popup {
    position: fixed;
    top: 0;
    right: -400px;
    width: 350px;
    height: 100%;
    background: white;
    box-shadow: -5px 0 20px rgba(0,0,0,0.3);
    padding: 20px;
    transition: 0.4s;
    overflow: auto;
    z-index: 9999;
}

.cart-popup.active {
    right: 0;
}

/* Cart Items */
.cart-popup p {
    margin: 10px 0;
    font-weight: 500;
}

/* Remove Button */
.cart-popup .remove-btn {
    background: red;
    color: white;
    padding: 2px 6px;
    border: none;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
}

/* Total */
.cart-popup .total {
    font-weight: bold;
    margin-top: 15px;
    font-size: 16px;
}